{% extends 'base.html' %}

{% load static %}

{% block 'content' %}
<div class="pt-4">

  <div class='bg-dark rounded text-light pl-3'>
    <h1 class="d-flex justify-content-center pb-0 pt-3">Monitoramento dos Painéis de BI</h1>    
    <h6 class="d-flex  d-flex justify-content-center pt-0">
      <script language=javascript type="text/javascript">
        var now = new Date();
        document.write("Última atualização as "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds());
        console.log("LOG: Atualizando a página e fazendo requisição na API Painéis as "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds())
      </script>
      
    </h6>
    <table  id="table" class="table bg-light  table-hover rounded table-borderless align-self-center ">
      
      <thead  class="thead bg-dark text-light">
        <tr>
          
          <th scope="col">Projeto</th>
          <th scope="col">Sub-projeto</th>
          <th scope="col">Painel</th>
          <th scope="col">Fatos</th>
          <th scope="col">Última Atualização</th>
          <th scope="col">Status</th>
          
          
        </tr>
      </thead>
      <tbody>
        {% for consulta  in consultar  %}
        <tr>
          {% if consulta.reason and not consulta.atualizacao%}
          <td class="bg-danger">{{consulta.projeto}}</td>
          <td class="bg-danger">{{consulta.sub_projeto}}</td>
          <td class="bg-danger">{{consulta.painel}}</td>
          <td class="bg-danger">{{consulta.items}}</td>
          <td class="bg-danger">Sem dados</td>
          <td class="bg-danger"> </td>
          {% else %}
            {% if consulta.atualizacao == "Desatualizado" %}
              <td class="bg-warning">{{consulta.projeto}}</td>
              <td class="bg-warning">{{consulta.sub_projeto}}</td>
              <td class="bg-warning">{{consulta.painel}}</td>
              <td class="bg-warning">{{consulta.items}}</td>
              <td class="bg-warning">{{consulta.ultima_atualizacao}}</td>
              <td class="bg-warning">{{consulta.atualizacao}}</td>
            {% else %}
              <td >{{consulta.projeto}}</td>
              <td >{{consulta.sub_projeto}}</td>
              <td >{{consulta.painel}}</td>
              <td >{{consulta.items}}</td>
              <td >{{consulta.ultima_atualizacao}}</td>
              <td >{{consulta.atualizacao}}</td>
           {% endif %}
          
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  $(document).ready( function () {
    $('#table').DataTable({
      searching: false, 
      paging: false, 
      info: false,
      order:[[5,'asc']]
    });
} );
</script>

{% endblock scripts %}

