{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{%static 'img/iconLogo.png'%}" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"crossorigin="anonymous">
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/main.css'%}" rel="stylesheet">
    <link href="{%static 'css/fontes.css'%}" rel="stylesheet">
    <link href="{%static 'css/cores.css'%}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'img/favicon.png'%}">

    <title>Monitoramento</title>
</head>
<body>
    <div class='menu'>

        <nav class="navbar navbar-expand-lg bg-light text-dark">
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
              <img src="{%static 'img/tre.png'%}">
              Monitoramento de Painéis
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-autot">
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:5000/">API</i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://residencia.tre-rn.jus.br/" target='_blank'>Residência em TI <i class="fas fa-external-link-alt fa-xs"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.tre-rn.jus.br/" target='_blank'>TRE-RN <i class="fas fa-external-link-alt fa-xs"></i></a>
                </li>
              </ul>
          </nav>

    </div>
    <div class="container">
        
        {% block 'content' %}
          
        {% endblock 'content' %}

    </div>
    <footer class="container-fluid text-light text-center  mb-0 align-items-bottom">
      <div class="container navbar-dark  mt-0 mb-0">
          <div class="row">
              <div class="col pt-2">
                  <a href="https://www.tre-rn.jus.br/" target="_blank">
                      <img src="https://www.tre-rn.jus.br/++theme++justica_eleitoral/imagens/logos/tre-rn-inverse.png" style="width: 115px;height: 45px;"title="Site oficial">
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col pt-0">
                  <a class="text-right" href="https://www.djangoproject.com/" target="_blank" style="color: white;text-decoration: none;" title="Desenvolvido em Django">
                      <p class="text-right">Powered by Django</p>
                  </a>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>

